* {
  margin:0px;
  padding:0px;
}

body {
  width: 90vh;
  height: 90vh;
}

.pagediv {
  height: 100%;
  margin: 10px;
  vertical-align: middle;
}

.buttonbar {
  align-content: center;
  margin: 10px;
}

button {
  padding: 10px;
}

textarea {
  width: 100%;
  height: 50%;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
